.login_parent{
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgb(253, 253, 253), rgba(255, 255, 255, 0.959));
    padding-bottom: 20px;
}
.Main_login{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#445f69,#37D7BC);
}

#avatar{
    background-color: black;
}

#submit{
color:white;
background-color: black;
}

#signinlink{
    color:black;
}